<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" id="name" placeholder="Name" autofocus>
        <button type="submit">Add</button>
    </form>
<%- include('includes/end.ejs') %>