<%- include('includes/head') %>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛔️</text></svg>">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <h1>Some error occured!</h1>
    <p>w're working on fixing this, sorry for the inconvenience</p>

<%- include('includes/end.ejs') %>
